<div class="header">Kido</div>
<div class="navigation">
    <ul>
        <li class="col-1"><a href="#">Home</a></li>
        <li class="col-1"><a href="#">Home</a></li>
        <li class="col-1"><a href="#">Things</a></li>
        <li class="col-1"><a href="#">About</a></li>
    </ul>
</div>